<!-- Site Showcase -->
<div class="site-showcase">
  <!-- Start Page Header -->
  <div class="parallax page-header" style="background-image:url('/images/bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'planes_locales.titulo_pagina' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->
</div>
<!-- Start Content -->
<main class="main" [attr.aria-label]="'planes_locales.titulo_pagina' | translate">
  <div id="content" class="content full">
    <div class="container">
      <div class="page">
        <div class="row">
          <div class="col-md-12">
            <div [innerHTML]="planes"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
