<header class="site-header">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <ul class="horiz-nav pull-right">
            <li><a href="{{ gestion }}" target="_self"><i class="fa fa-key"></i> Gestión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-8 col-xs-8">
          <h1 class="logo"> <a href="/"><img src="/images/logo_es@2x.png" alt="Inventario Andaluz de Instalaciones y Equipamientos Deportivos"></a> </h1>
        </div>
        <div class="col-md-8 col-sm-4 col-xs-4">
          <div class="contact-info-blocks hidden-sm hidden-xs">
            <div>
              <a href="https://www.juntadeandalucia.es/" target="_blank" rel="noopener"><img src="/images/junta.png" alt="Junta de Andalucía"></a>
            </div>
          </div>
          <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
