<app-loader [cargando]="cargando"></app-loader>

@if (!cargando && error) {
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="error-404 text-center">
          <h2><i class="fa fa-exclamation-triangle"></i> {{ noEncontrada ? '404' : '' }}</h2>
          <p class="lead">
            {{ (noEncontrada ? 'errores.instalacion_no_encontrada' : 'errores.instalacion_error') | translate }}
          </p>
          <a routerLink="/instalaciones" class="btn btn-primary">
            <i class="fa fa-arrow-left"></i> {{ 'errores.volver_listado' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
}

@if (!cargando && !error && instalacion) {

    @if (instalacion.nmeaLatitud && instalacion.nmeaLongitud) {
      <div class="site-showcase">
        <app-mapa
          class="map-single-page"
          [lat]="instalacion.xy_x"
          [lng]="instalacion.xy_y"
          [titulo]="instalacion.nombre">
        </app-mapa>
      </div>

      <app-modal-coordenada
        [x]="coordenadaX" 
        [y]="coordenadaY">
      </app-modal-coordenada>
    }

    <div class="main" role="main">
      <div id="content" class="content full">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="single-property">
                <h2 class="page-title">
                  <span class="codigo-ieda">{{ 'instalacion.codigo' | translate }}: {{ instalacion.codigo }}</span>
                  <br/>
                    {{ instalacion.nombre }}
                  <br/>
                  @if (instalacion.municipio) {
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="location">{{ instalacion.municipio.nombre }}
                      @if (instalacion.provincia) {
                        ({{ instalacion.provincia.nombre }})
                      }
                    </span>
                  }
                </h2>
                <hr />
              </div>
            </div>

            <!-- Lateral -->
            <div class="sidebar right-sidebar col-md-4">
              <div class="agent-contact-details">
                <h4>
                  <i class="fa fa-map-marker"></i> {{ 'instalacion.contacto' | translate }}
                </h4>

                <div class="flex-row">
                  <button 
                    type="button" 
                    class="btn btn-primary btn-sm" 
                    data-bs-toggle="modal" 
                    data-bs-target="#loc" 
                    (click)="mostrarModalCoordenadas(instalacion.xy_x, instalacion.xy_y)">
                    <i class="fa fa-compass"></i> {{ 'instalacion.localizacion' | translate }}
                  </button>

                  <div class="float-end">

                    <a id="boton_ruta" class="btn btn-primary btn-sm" target="_blank" rel="noopener"
                      [href]="'https://www.google.es/maps/?q=' + instalacion.xy_x + ',' + instalacion.xy_y">
                      <i class="fa fa-road"></i> {{ 'instalacion.como_llegar' | translate }}
                    </a>
                  </div>
                </div>

                <br />

                <ul class="list-group">
                  @if (instalacion.direccion) {
                    <li class="list-group-item"> {{ instalacion.direccion }}
                        @if (instalacion.cp) {
                            , {{ instalacion.cp }}
                        }
                        @if (instalacion.municipio) {
                            , {{ instalacion.municipio.nombre }}
                        }
                        @if (instalacion.provincia) {
                            ({{ instalacion.provincia.nombre }})
                        }
                    </li>
                  }

                  @if (instalacion.telefonos) {
                      <li class="list-group-item"> {{ 'instalacion.telefono' | translate }}
                        @for(telefono of instalacion.telefonos; track telefono.id) {
                          <span class="badge">{{telefono.numero}}</span>
                        }
                      </li>
                  }

                  @if (instalacion.fax) {
                    <li class="list-group-item"> {{ 'instalacion.fax' | translate }}
                        <span class="badge">{{ instalacion.fax }}</span>
                    </li>
                  }

                  @if (instalacion.web) {
                    <li class="list-group-item"> {{ 'instalacion.web' | translate }}
                      <span class="badge">
                        <a [href]="instalacion.web" target="_blank" rel="noopener">{{ instalacion.web }}</a></span>
                    </li>
                  }

                  @if (instalacion.email) {
                    <li class="list-group-item"> {{ 'instalacion.correo_electronico' | translate }}
                      <span class="badge">
                        <a [href]="'mailto:' + instalacion.email" target="_blank" rel="noopener">{{ instalacion.email }}</a>
                      </span>
                    </li>
                  }
                </ul>

              </div>

              <br/>

                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#widget">
                  <i class="fa fa-code"></i> {{ 'instalacion.mostrar_en_web' | translate }}
                </button>

                <app-modal-ubicacion [id]="instalacion.id.toString()"></app-modal-ubicacion>
              <hr>

                @if (instalacion.gestor) {
                    <h4><i class="fa fa-user"></i> {{ 'instalacion.tipo_gestor' | translate }}</h4>
                    {{ instalacion.gestor.nombre }}
                    <ul class="carets">
                      @if (instalacion.gestor.tipoGestor) {
                        <li>{{ instalacion.gestor.tipoGestor.nombre }}</li>
                      }
                    </ul>
                }

              <hr>

              <h4 class="atributo1">{{ 'instalacion.accesibilidad' | translate }}</h4>
              <div class="additional-amenities">
                <span class="available"><i class="fa fa-check-square"></i> @_sub.nombre: @_sub.valor</span>
              </div>

              <h6>{{ 'instalacion.descargar' | translate }} <a [href]="'/ExportarPDF/' + instalacion.id" class="btn btn-outline-secondary btn-sm" target="_blank" rel="noopener"><i class="fa fa-file-text"></i> {{ 'instalacion.pdf' | translate }}</a></h6>
            </div>

          </div>

          <!-- Galeria de imagenes -->
          @if (instalacion) {
            <app-instalacion-galeria
            [idInstalacion]="instalacion.id"
            ></app-instalacion-galeria>
          }


        </div>
      </div>
    </div>

}
