<div class="main">
  <div id="content" class="content full">
    <section class="counters padding-tb45 accent-color text-align-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fact-ico"><i class="fa fa-map-marker fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.instalaciones }}</span></div>
            <span class="fact">{{ 'contador.instalaciones' | translate }}</span>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fact-ico"><i class="fa fa-flag fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.deportivos }}</span></div>
            <span class="fact">{{ 'contador.espacios_deportivos' | translate }}</span>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fact-ico"><i class="fa fa-building-o fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.complementarios }}</span></div>
            <span class="fact">{{ 'contador.espacios_complementarios' | translate }}</span>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fact-ico"><i class="fa fa-dribbble fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.modalidades }}</span></div>
            <span class="fact">{{ 'contador.modalidades_deportivas' | translate }}</span>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fact-ico"><i class="fa fa-dribbble fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.modalidades }}</span></div>
            <span class="fact">{{ 'contador.modalidad_deportiva' | translate }}</span>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fact-ico"><i class="fa fa-person-walking fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.rutas }}</span></div>
            <span class="fact">{{ 'contador.rutas_deportivas' | translate }}</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
