<div class="main" role="main">
  <div id="content" class="content full">
    <section class="counters padding-tb45 accent-color text-align-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="fact-ico"><i class="fa fa-map-marker fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.instalaciones }}</span></div>
            <span class="fact">Instalaciones</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="fact-ico"><i class="fa fa-flag fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.deportivos }}</span></div>
            <span class="fact">Espacios deportivos</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="fact-ico"><i class="fa fa-building-o fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.complementarios }}</span></div>
            <span class="fact">Espacios complementarios</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="fact-ico"><i class="fa fa-dribbble fa-4x"></i></div>
            <div class="timer"><span class="count">{{ contadores.modalidades }}</span></div>
            <span class="fact">Modalidad deportiva</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
