<div class="site-showcase">
  <div class="slider-mask overlay-transparent" [class.atenuado]="busquedaAvanzada"></div>
  <!-- Start Hero Slider -->
  <swiper-container
    class="hero-slider"
    style="width: 100%; height: 500px;"
    autoplay="true"
    delay="3000"
    loop="true"
    navigation="true"
    pagination="false">

    <swiper-slide class="parallax" style="background-image:url('/images/slide1.jpg'); background-size: cover; background-position: center;"></swiper-slide>
    <swiper-slide class="parallax" style="background-image:url('/images/slide2.jpg'); background-size: cover; background-position: center;"></swiper-slide>
    <swiper-slide class="parallax" style="background-image:url('/images/slide3.jpg'); background-size: cover; background-position: center;"></swiper-slide>
    <swiper-slide class="parallax" style="background-image:url('/images/slide4.jpg'); background-size: cover; background-position: center;"></swiper-slide>
  </swiper-container>
  <!-- End Hero Slider -->

  <div class="site-search-module" [class.avanzada]="busquedaAvanzada">
    <div class="container">
      <div class="site-search-module-inside">
        <form (ngSubmit)="buscar()">
          <div class="row">
            <div class="col-md-8">
              <label for="nombreInstalacion" class="visually-hidden">{{ 'index.buscar_placeholder' | translate }}</label>
              <input type="text" id="nombreInstalacion" name="nombreInstalacion" class="form-control"
                     [placeholder]="'index.buscar_placeholder' | translate" [(ngModel)]="modeloBusqueda.nombreInstalacion">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-ver-mapa btn-buscador w-100"><i class="fa fa-search"></i> {{ 'index.buscar' | translate }}
              </button>
            </div>
            <div class="col-md-2">
              <button type="button" id="ads-trigger" class="btn btn-outline-secondary btn-buscador w-100"
                      [class.advanced]="busquedaAvanzada" (click)="alternarAvanzada()">
                <i class="fa" [class.fa-plus]="!busquedaAvanzada" [class.fa-minus]="busquedaAvanzada"></i>
                {{ (busquedaAvanzada ? 'index.menos' : 'index.mas') | translate }}
              </button>
            </div>
          </div>

          @if (busquedaAvanzada) {
            <div class="row row-avanzada d-none d-md-flex"
                 animate.enter="panel-enter"
                 animate.leave="panel-leave">
              <div class="col-md custom-col">
                <app-select
                  idControl="provincia"
                  name="provincia"
                  [opciones]="provincias"
                  [etiqueta]="'index.provincia' | translate"
                  [(ngModel)]="modeloBusqueda.provincia"
                  (cambio)="onProvinciaChange($event)">
                </app-select>
              </div>
              <div class="col-md custom-col">
                <app-select
                  idControl="municipio"
                  name="municipio"
                  [opciones]="municipios"
                  [etiqueta]="'index.municipio' | translate"
                  [deshabilitado]="!modeloBusqueda.provincia || cargandoMunicipios"
                  [(ngModel)]="modeloBusqueda.municipio">
                </app-select>
              </div>
              <div class="col-md custom-col">
                <label for="claseInstalacion">{{ 'index.clase_instalacion' | translate }}</label>
                <select id="claseInstalacion" name="claseInstalacion" class="form-control"
                        [(ngModel)]="modeloBusqueda.claseInstalacion">
                  <option value="">{{ 'index.todos' | translate }}</option>
                </select>
              </div>
              <div class="col-md custom-col">
                <app-select
                  idControl="deporte"
                  name="deporte"
                  [opciones]="deportes"
                  [etiqueta]="'index.deporte' | translate"
                  [(ngModel)]="modeloBusqueda.deporte">
                </app-select>
              </div>
              <div class="col-md custom-col">
                <app-select
                  idControl="nivelDotacion"
                  name="nivelDotacion"
                  [opciones]="nivelDotacionOpciones"
                  [etiqueta]="'index.nivel_dotacion' | translate"
                  [(ngModel)]="modeloBusqueda.nivelDotacion">
                </app-select>
              </div>
            </div>
            }
        </form>
      </div>
    </div>
  </div>
</div>
