<div class="main-menu-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navigation">
          <ul class="sf-menu">
            <li><a href="/index.html">Entrada</a></li>
            <li><a href="">Busqueda avanzada</a></li>
            <li><a href="">Mapa de instalaciones</a></li>
            <li><a href="/acerca-de-los-datos-del-censo">Acerca del inventario</a></li>
            <li><a href="/obtener-widget">Insertar mapa</a></li>
            <li><a href="/municipios-planes-locales">Planes locales</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
