<div class="site-showcase">
  <!-- Start Page Header -->
  <div class="parallax page-header" style="background-image:url('/images/bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'buscar.titulo' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->
</div>

<main class="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="page">
        <form class="form-busqueda" (ngSubmit)="buscar()">
          <div class="padding-as25 margin-30 lgray-bg">
            <div class="row">
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-12 mb-3">
                    <label for="nombre">{{ 'buscar.nombre' | translate }}</label>
                    <input
                      type="text"
                      id="nombre"
                      name="nombre"
                      class="form-control form-control-lg"
                      [(ngModel)]="modelo.nombre" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3 mb-3">
                    <app-select
                      idControl="provincia"
                      name="provincia"
                      [opciones]="provincias"
                      [etiqueta]="'buscar.provincia' | translate"
                      [placeholderKey]="'buscar.todas'"
                      [(ngModel)]="modelo.provincia"
                      (cambio)="onProvinciaChange($event)">
                    </app-select>
                  </div>

                  <div class="col-md-3 mb-3">
                    <app-select
                      idControl="municipio"
                      name="municipio"
                      [opciones]="municipios"
                      [etiqueta]="'buscar.municipio' | translate"
                      [deshabilitado]="!modelo.provincia || cargandoMunicipios"
                      [(ngModel)]="modelo.municipio">
                    </app-select>
                  </div>

                  <div class="col-md-3 mb-3">
                    <app-select
                      idControl="deporte"
                      name="deporte"
                      [opciones]="deportes"
                      [etiqueta]="'buscar.deporte' | translate"
                      [(ngModel)]="modelo.deporte">
                    </app-select>
                  </div>

                  <div class="col-md-3 mb-3">
                    <app-select
                      idControl="nivelDotacion"
                      name="nivelDotacion"
                      [opciones]="nivelDotacion"
                      [etiqueta]="'buscar.nivel_dotacion' | translate"
                      [(ngModel)]="modelo.nivelDotacion">
                    </app-select>
                  </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row acciones">
          <div class="col-12">
            <button type="submit" class="btn btn-ver-mapa btn-lg">
              <i class="fa fa-search"></i> {{ 'buscar.buscar' | translate }}
            </button>
            <button type="button" class="btn btn-link" (click)="limpiar()">
              {{ 'buscar.limpiar' | translate }}
            </button>
          </div>
        </div>

      </form>

      </div>
    </div>
  </div>
</main>
